body {
  background: #141E30;
  margin: 5% auto;
  width: 80%;
}


nav ul, footer ul {
    font-family: Quicksand, 'Helvetica', 'Sans-Serif';
    padding: 0px;
  font-size: 1.1em;
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
  position: absolute;
  bottom: 1%;
  }

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
}
a:hover {
    text-decoration: none;
}

.blurb {
  float: right;
  width: 50%;
}

h1 {
  color: azure;
  font-family: Quicksand;
  font-size: 2em;
}

p {
  color: GhostWhite;
  font-family: Quicksand;
  font-size: 1em;
}

.articles {
  font-family: Quicksand;
  color: Azure;
}

.mypic {
  float: left;
  width: 50%;
}

img{
border-radius: 100%;
  max-width: 90%;
}
